
        header {
			position: relative;
            background: rgba(0,0,0);
            padding: 10px 20px;
	color: rgba(255, 255, 255);
	/*z-index: 1;*/
            text-align: center;
        }
		
header::before {
	content: '';
    position: absolute;
	
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.35); /* Второй цвет */
	/*background: linear-gradient(to right, rgba(0, 255, 0, 0.25), rgba(255, 255, 0, 0.5));*/
    /*mix-blend-mode: screen;*/
	z-index: 2;
    pointer-events: none; /* Позволяет клики через слой */
}	
header > * {
  position: relative; /* Делаем весь контент выше наложенного фона */
  z-index: 3; /* Выше псевдоэлемента */
}



        main {
			margin: 0px;
            padding: 20px;
			height: 100%
            /*max-width: 800px;*/
            margin: 0px auto;
			/*min-height: 100vh;
            /*background: #fff;*/
            border-radius: 5px;
            /*box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);*/
        }
 ul {
    margin-left: 40px;
    padding-left: 20px;

}




